################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Redbridge.Owin/Redbridge.Owin/bin/Debug/net461
